<footer>
    <p>
        &copy; 2019
        <script>
            new Date().getFullYear()>2019&&document.write("- "+new
            Date().getFullYear());
        </script>
        Created by: {{name}}
    </p>
</footer>
