body {
  color: #333333;
  font-family: Arial;
  max-width: 40.625rem;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}
footer {
  color: #888888;
  border-top: 0.0625rem solid #eeeeee;
  margin-top: 1rem;
  padding: 1rem 0;
}

header {
  margin: 1rem 0 3rem 0;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

header a {
  color: #888888;
  margin-right: 1rem;
  text-decoration: none;
}

.portrait {
  width: 250px;
}

input {
  border: 0.0625rem solid #cccccc;
  padding: 0.5rem;
}

button {
  cursor: pointer;
  border: 0.0625rem solid #888888;
  background: #888888;
  color: #ffffff;
  padding: 0.5rem;
}
